/* code from : https://www.cssscript.com/demo/la-color-picker/ */
.color-palette {
    height: 100px;
    width: 100px;
    background: red;
    display: none;
  }
  .palette {
    margin-top: 5px;
    width: 270px;
    height: 220px;
    background: #efefef;
    border: 1px solid #bcbcbc;
    border-radius: 1px;
    display: none;
    padding: 1px;
    position: absolute;
    z-index: 1000;
  }
  .color-option {
    width: 18px;
    height: 18px;
    margin: 3px;
    cursor:pointer;
    float: left;
  }
  #colorId {
    border-right: 10px solid #000000;
  }

  .inp {
    border: 1px solid #949494;
    border-radius: 3px;
    width: 90px;
    font-size: 110%;
  }
  