.icon{
    width:45px;
    height: 45px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    background-position: right;
    background-repeat: no-repeat;
    background-size:75%;
    
}
.icon-large{
    width:90px;
    height: 90px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    background-position: right;
    background-repeat: no-repeat;
    background-size:75%;
}
.color-icon{
    cursor: pointer;
    background-image: url('../media/colour\ wheel.png');
    background-size: cover;
}

.draw-icon{
    cursor: pointer;
    background-image: url('../media/draw.png');
    background-size: cover;
}

.move-icon{
    cursor: pointer;
    background-image: url('../media/move.png');
    background-size: cover;
}

.download-icon{
    cursor: pointer;
    background-image: url('../media/download.png');
    background-size: cover;
}

.upload-icon{
    cursor: pointer;
    background-image: url('../media/upload.png');
    background-size: cover;
}

.save-icon{
    cursor: pointer;
    background-image: url('../media/save.png');
    background-size: cover;
}

.load-icon{
    cursor: pointer;
    background-image: url('../media/load.png');
    background-size: cover;
}