header{
    width: 100%;
    display:flex;
    margin-top:36px;
    height: 64px;
    justify-content:center;
}

header #title{
    color: black;
    text-decoration:none;
    margin: 0px;
    font-size:48px;
    text-align: center;
}

.big_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    cursor: url('../media/point.png'), auto;
}

.sml_container {
    display:flex;
    width: 250px;
    height: 150px;
    text-align: center;
    align-items: center;
    font-size: 18px;
    font-family: Arial;
    border-radius: 20px;
    border:2px solid #000000;
    margin:20px 20px 20px 20px;
    cursor: url('../media/point.png'), auto;
} 

.large_container {
    display:flex;
    align-content: flex-start;
    width: 600px;
    height: 400px;
    flex-direction:column;
    text-align: center;
    font-size: 24px;
    font-family: Arial;
    border-radius: 10px;
    border:4px solid #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    cursor: url('../media/point.png'), auto;
}

.desplay_container {
    display:flex;
    width: 150px;
    height: 35px;
    text-align: center;
    font-size: 18px;
    font-family: Arial;
    border-radius: 5px;
    border:2px solid #000000;
    margin-left: auto;
    margin-right: 10px;
    
}

.twin_container {
    height: 25px;
    display:flex;
    text-align: center;
    align-content: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    align-items: baseline;
}

.btn {
    height: 30px;
    display: flex;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border:2px solid #000000;
}
.btn:hover {
    background-color: gray;
    cursor: url('../media/point.png'), auto;
}


.confirm {
	display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.smlbtn {
    height: 15px;
    display: flex;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border:2px solid #000000;
    margin-left: 5px;
}
.smlbtn:hover {
    background-color: gray;
    cursor: url('../media/point.png'), auto;
}

.popup {
    margin-top: 5px;
    width: 250px;
    height: 250px;
    background: #efefef;
    border: 1px solid #bcbcbc;
    border-radius: 2px;
    display: none;
    padding: 5px;
    position: absolute;
    z-index: 1000;
  }

.textBox {
    width: 220px;
    height: 25px;
    border:2px solid #000000;
    background-color: white;
    font-size: 18px;
}

.fakeTextBox {
  width: 220px;
  height: 25px;
  border:2px solid #000000;
  background-color: #bcbcbc;
  font-size: 18px;
  overflow: hidden;
}
.row {
	display: flex;
    flex-direction: row;
    align-items:flex-end;
}

#lobbyName {
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

#lobbyInfo {
    visibility: hidden;
}

.login_form{
    display:flex;
    justify-content: space-evenly;
    width: 600px;
    height: 300px;
    flex-direction:column;
    text-align: center;
    border-radius: 10px;
    border:4px solid #000000;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    cursor: url('../media/point.png'), auto;
}

.login_input{
    padding:5px 10px 5px 10px;
    font-size: 18px;
    width: 300px;
    border-radius: 10px;
    border:2px solid #000000;
}

.login_buttons {
    display: flex;
    width: 325px;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 5px;
}
/* 
a:link {
  color: white;
  padding: 13px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width:1px;
  height: 20px;
} */

/* a:hover {
    color: rgb(163, 189, 228);
}
  
/* selected link */
/* a:active {
    color: rgb(83, 132, 224);
} */ 
.userInfo:hover {
    background-color: gray;
    cursor: url('../media/point.png'), auto;
}

.userInfo {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    border:2px solid #000000;
}

.signout:hover {
    background-color: gray;
    cursor: pointer;
}

.signout {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 45px;
    right: 15px;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    border:2px solid #000000;
    margin-top: 5px;
}

.warning {
    text-align: center;
    font-size: 16px;
    color: red;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}
p {
    margin-top: 0px;
    margin-bottom: 0px;
}
.inform {
    text-align: right;
    font-size: 14px;
    color: red;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
    top: 5px;
    right: 5px;
    visibility: hidden;
}
.logo-large {
    display:flex;
    align-content: center;
    width: 300px;
    height:300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    background-position: right;
    background-repeat: no-repeat;
}

.logo {
    background-image: url('../media/logo.png');
    background-size: cover;
    opacity: 0.5;
}

.form_style {
    position: absolute;
  right: 10px;
  width: 100px;
  height: 40px;
  z-index: 2;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 5px 5px 5px;
}
/* The code below has been taken from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_popup*/

.admin_popup {
    position: relative;
    display: inline-block;
    cursor: url('../media/point.png'), auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

.btn {
    text-align:center;
    align-items: center;
    font-size: 17px;
    color: #0c0b0b;
    margin: 5px;
}

.admin_popup .popuptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 30%;
    right: 110%;
    margin-left: -80px;
  }
  /* The code below has been taken from https://www.w3schools.com/howto/howto_css_notification_button.asp */
  .admin_popup .badge {
    visibility: hidden;
    position: absolute;
    top: 10px;
    left: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
  }

.admin_popup .popuptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .admin_popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
/* The code below has been take from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_alert*/

  .alert {
    padding: 20px;
    background-color: green;
    color: white;
    position: absolute;
    width: 300px;
    left:40%;
    z-index: 99;
    visibility: hidden;
  }
   .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: url('../media/point.png'), auto;
    transition: 0.3s;
 
  }
  
  .closebtn:hover {
    color: black;
  }

  /* The code below has been taken from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch*/
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: url('../media/point.png'), auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    height: 22px;
    width:60px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 1.05px;
    background-color: white;
    cursor: url('../media/point.png'), auto;
    background-image: url('../media/draw.png');
    background-size: cover;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(35px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .audio_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 92px;
    text-align: center;
    /* margin: 50px; */
    top: 55px;
    position: absolute;
    right: 0;
    font-size: 20px;
    border:2px solid #000000;
    z-index: 2;
  }

  .otherCursor {
    cursor: url('../media/point.png'), auto;
  }