header{
    width: 100%;
    display:flex;
    margin-top:36px;
    height: 64px;
    justify-content:center;
}

header #title{
    color: black;
    text-decoration:none;
    margin: 0px;
    font-size:48px;
    text-align: center;
}

.big_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    
}

.sml_container {
    display:flex;
    width: 250px;
    height: 150px;
    text-align: center;
    align-items: center;
    font-size: 18px;
    font-family: Arial;
    border-radius: 20px;
    border:2px solid #000000;
    margin:20px 20px 20px 20px;
} 

.large_container {
    display:flex;
    align-content: flex-start;
    width: 600px;
    height: 400px;
    flex-direction:column;
    text-align: center;
    font-size: 24px;
    font-family: Arial;
    border-radius: 10px;
    border:4px solid #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.desplay_container {
    display:flex;
    width: 150px;
    height: 35px;
    text-align: center;
    font-size: 18px;
    font-family: Arial;
    border-radius: 5px;
    border:2px solid #000000;
    margin-left: auto;
    margin-right: 10px;
    
}

.twin_container {
    height: 25px;
    display:flex;
    text-align: center;
    align-content: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.btn {
    height: 30px;
    display: flex;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border:2px solid #000000;
}
.btn:hover {
    background-color: gray;
    cursor: pointer;
}


.confirm {
	display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.smlbtn {
    height: 15px;
    display: flex;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border:2px solid #000000;
    margin-left: 5px;
}
.smlbtn:hover {
    background-color: gray;
    cursor: pointer;
}

.popup {
    margin-top: 5px;
    width: 250px;
    height: 250px;
    background: #efefef;
    border: 1px solid #bcbcbc;
    border-radius: 2px;
    display: none;
    padding: 5px;
    position: absolute;
    z-index: 1000;
  }

.textBox {
    width: 220px;
    height: 25px;
    border:2px solid #000000;
    background-color: white;
    font-size: 18px;
}

.row {
	display: flex;
    flex-direction: row;
    align-items:flex-end;
}

#lobbyName {
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

#lobbyInfo {
    visibility: hidden;
}

.login_form{
    display:flex;
    justify-content: space-evenly;
    width: 600px;
    height: 300px;
    flex-direction:column;
    text-align: center;
    border-radius: 10px;
    border:4px solid #000000;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.login_input{
    padding:5px 10px 5px 10px;
    font-size: 18px;
    width: 300px;
    border-radius: 10px;
    border:2px solid #000000;
}

.login_buttons {
    display: flex;
    width: 325px;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 5px;
}
/* 
a:link {
  color: white;
  padding: 13px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width:1px;
  height: 20px;
} */

/* a:hover {
    color: rgb(163, 189, 228);
}
  
/* selected link */
/* a:active {
    color: rgb(83, 132, 224);
} */ 
.userInfo:hover {
    background-color: gray;
    cursor: pointer;
}

.userInfo {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    border:2px solid #000000;
}

.signout:hover {
    background-color: gray;
    cursor: pointer;
}

.signout {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 45px;
    right: 15px;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    border:2px solid #000000;
    margin-top: 5px;
}

.warning {
    text-align: center;
    font-size: 16px;
    color: red;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}
p {
    margin-top: 0px;
    margin-bottom: 0px;
}
.inform {
    text-align: right;
    font-size: 14px;
    color: red;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
    top: 5px;
    right: 5px;
    visibility: hidden;
}
.logo-large {
    display:flex;
    align-content: center;
    width: 300px;
    height:300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    background-position: right;
    background-repeat: no-repeat;
}

.logo {
    background-image: url('../media/logo.png');
    background-size: cover;
    opacity: 0.5;
}

.form_style {
    position: absolute;
  right: 0;
  width: 100px;
  height: 40px;
  z-index: 2;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 5px 5px 5px;
}
/* code taken from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_popup*/

.admin_popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

.btn {
    text-align:center;
    font-size: 17px;
    color: #0c0b0b;
    margin: 5px;
}

.admin_popup .popuptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 30%;
    right: 110%;
    margin-left: -80px;
  }

/* Popup arrow */
.admin_popup .popuptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .admin_popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }